.header {
    height: 20vh;
    border-top: 1px solid orange;
    background-color: rgb(255, 202, 103);
}

.imgLogo {
    max-width: 50%;
    max-height: 20vh;
    width: 100%;
    height: auto;
    object-fit: contain;
    /* ou cover, dependendo do seu caso */
}