:root{
    --cor-padrao-texto: #000000;

    --cor-menu-background-hover: #5BC241;
    --cor-menu-letra-hover: #FFFFFF;

    --cor-menu-botao-background: #5BC241;
    --cor-menu-botao-letra: #FFFFFF;

    --cor-botao-background-hover: #5BC241;
    --cor-botao-texto-hover: yellow;
}