body{
    font-family: "Public Sans", sans-serif;
    font-weight: 400;
    color: var(--cor-padrao-texto);
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 47px;
    margin-bottom: 100px;
}
