.verde-claro{
    background-color: #4ac2aa;
    border-radius: 5px;
}

.azul{
    background-color: #68c6e0;
    border-radius: 5px;
}

.laranja-escuro{
    background-color: #ff8834;
    border-radius: 5px;
}

.verde-forte{
    background-color: rgb(27, 81, 23);
    border-radius: 5px;
}

.rosa{
    background-color: rgb(243, 106, 140);
    border-radius: 5px;
}

.marrom{
    background-color: burlywood;
    border-radius: 5px;
}

.container{
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(3, auto);
    grid-gap: 15px;
}

.verde-claro{
    /* Inicio e fim das grid colunas, sem +1 do que se deseja */
    /* grid-column-start: 1;
    grid-column-end: 3; */
    
    /* Forma abreviada do item anterior */
    /* grid-column: 1 / 3; */

    /* tem a parte de expandir */
    /* grid-column: 1 / span 2; */

    /* Inicio e fim das grid linhas, sem +1 do que se deseja */
    /* grid-row-start: 1;
    grid-row-end: 3; */

    /* Forma abreviada do item anterior */
    /* grid-row: 1 / 3; */

    /* grid-row: 1 / span 2; */

    /*
    GRID-AREA:

    grid-row-start
    grid-column-start
    grid-row-end
    grid-column-end

    grid-area:  grid-row-start / grid-column-start / Tem que ter a ultima barra separando
                grid-row-end / grid-column-end;
    */
    grid-area: 1 / 1 / 3 / 3;
}

/* .span{
    grid-column: 3 / span 5;
} */

.azul{
    /* grid-column: 3 / span 3; */
    grid-area:  1 / 3 /
                1 / 6;
}

.rosa{
    /* grid-column: 1 / span 2;
    grid-row: 3 / span 1; */

    grid-area:  3 / 1/
                3 / 3;
}
.laranja-escuro{
    /* grid-column: 3 / span 2;
    grid-row: 2 / span 2; */
    grid-area:  2 / 3 /
                4 / 5;
}

.verde-forte{
    /* grid-column: 1 / span 2; */
    grid-area:  2 / 5/
                2 / 6;
}

.marrom{
    /* grid-column: 5 span 1; */
    grid-area:  3 / 5/
                3 / 6;
}