.header{
    background-color: blueviolet;
    padding: 30px 15px;
}

.header .logo{
    font-family: var(--fonte-secundaria);
    font-size: var(--fonte-extra-grande);
    border: 2px solid var(--cor-branca);
    border-radius: 50%;
    height: 85px;
    width: 85px;
    line-height: 80px;
    text-align: center;
    text-decoration: underline;
    transition: 0.2s;
}

.header a:hover .logo{
    color: var(--cor-primaria);
    border: 2px solid var(--cor-primaria);
}

.header nav ul{
    display: flex;
}

.header nav li a{
    text-transform: capitalize;
    font-size: 2rem;
    font-size: 500;
    padding: 10px 20px;
    transform: 0.2s;
    border-radius: 50px;
    letter-spacing: 1px;
    user-select: none;
}