@media (max-width: 950px){
    .conteudo{
        margin-left: 130px;
        width: 550px;
    }
}

@media (max-width: 800px){
    .conteudo{
        width: 500px;
    }
}

@media (max-width: 715px){
    .conteudo{
        width: 450px;
    }

    .conteudo .titulo{
        font-size: 36px;
    }

    .conteudo .texto{
        font-size: 24px;
    }
}

@media (max-width: 660px){
    .conteudo{
        width: 400px;
    }

    .conteudo .texto{
        font-size: 20px;
    }
}

@media (max-width: 625px){
    .conteudo{
        width: 400px;
    }

    .conteudo .texto{
        font-size: 20px;
    }
}

@media (max-width: 610px){
    .conteudo{
        margin-left: 100px;
        width: 350px;
    }

    .conteudo .titulo{
        font-size: 30px;
    }

    .conteudo .texto{
        font-size: 20px;
    }

    .conteudo .botao{
        font-size: 2.8rem;
    }
}