.container > div{
    border: 1px solid black;
    background-color: #8a2be2;
    color: white;
    font-size: 20px;
}

.container{
    display: grid;
    /* grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, 150px); */

    /* Da para abreviar primeiro row e depois / column */
    grid-template: repeat(1, 150px) / repeat(2, auto);

    /* Mostra espaços só nas colunas */
    /* grid-column-gap: 5px; */

    /* Mostra espaços só nas linhas */
    /* grid-row-gap: 15px; */

    /* Da espaços em colunas e linhas de uma vez */
    /* grid-gap: 5px; */

    /* Espaços em linhas e colunas de forma abreviada com grid-gap */
    grid-gap: 1px 10px;
}