.container-educacao .educacao{
    /* background-color: turquoise; */
    padding: 0 25px;
}

.container-educacao .educacao ul{
    list-style: inside;
}

.container-educacao .educacao h3{
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    color: var(--cor-primaria);
    text-transform: uppercase;
    text-align: center;
}

.container-educacao .educacao p{
    /* background-color: red; */
    font-size: 1.8rem;
    margin-bottom: 20px;
    text-align: justify;
}