@import "./colors.css";

html{
    font-size: 62.5%;
}

body{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: var(--color-white);
    background-color: var(--color-violet);
    background-image: url('../img/bg-desktop.svg');

}

/* HEADER */
.header{
    background-color: red;
    padding: 20px;
}

.header img{
    width: 150px;
    margin-top: 20px;
    margin-left: 32px;
}
/* HEADER */

/* FIGURA*/
.figura-texto{
    background-color: orange;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.figura-texto .figura{
    background-color: greenyellow;
}

.figura-texto .figura img{
    
}

.figura-texto .texto{
    background-color: black;
}

.figura-texto .texto h2{
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
}

.figura-texto .texto p{

}

.figura-texto .texto .btn{
    color: var(--color-violet);
}
/* FIGURA*/

/* FOOTER */
.footer{
    background-color: red;
    display: flex;
    color: var(--color-white);
    height: 50px;
}

.footer .network-social{
    align-items: self-end;
}

a{
    color: var(--color-white);
    font-size: 40px;
}
/* FOOTER */