@import "./colors.css";

html{
    font-size: 62.5%;
}

body{
    display: grid;
    grid-template-areas:    "header header"
                            "figura info"
                            "footer footer";
    grid-template-columns: repeat(2, 1fr);

    font-family: "Poppins", sans-serif;
    font-weight: 400;

    background-image: "./src/img/bg-desktop.svg";
    background-color: var(--color-violet);
}

/* HEADER */
.header{
    grid-area: header;
    background-color: red;
    height: 100px;
}

.header img{
    margin-top: 33px;
    margin-left: 50px;
    width: 152px;
}
/* HEADER */

/* FIGURA*/

/* FIGURA*/