<<<<<<< HEAD
.produto{
    background-color: aqua;
}

.destaque{
    font-size: 24px;
    color: orange;
    
=======
.produto{
    background-color: aqua;
}

.destaque{
    font-size: 24px;
    color: orange;
    
>>>>>>> 71bf3764689bf5a24f6e7870cd88e892f4e25bbf
}