.container.direction {
    display: flex;
    flex-direction: row;
}

.container.direction div{
    background-color: aqua;
    color: white;
    width: 100px;
    height: 100px;
    margin: 10px;

    font-size: 60px;
    text-align: center;
}

.container.wrap{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.container.wrap div{
    background-color: rgb(147, 224, 24);
    color: white;
    width: 100px;
    height: 100px;
    margin: 10px;

    font-size: 60px;
    text-align: center;
}

.container.flow{
    display: flex;
    flex-flow: row wrap;
}

.container.flow div{
    position: relative;
    background-color: rgb(168, 131, 0);
    color: white;
    width: 100px;
    height: 100px;
    margin: 10px;

    font-size: 60px;
    text-align: center;
}