/* Exemplos com ViewPort VW - INICIO */
/* body{
    margin: 0px;
    width: 300px;
}

.primeiro-elemento{
    width: 100vw;
    background-color: aquamarine;
}

.segundo-elemento{
    width: 100%;
    background-color: blueviolet;
} */
/* Exemplos com ViewPort VW - FIM */

/* Exemplos HW - INICIO */
/* h1{
    font-size: 13vw;
} */
/* Exemplos HW - FIM */

/* Exemplos HW - INICIO */
/* h1{
    font-size: 20vh;
}

div{
    text-align: center;
} */
/* Exemplos HW - FIM */

body{
    margin: 0;
    overflow-x: hidden;
    color: whitesmoke;
}

section{
    width: 100vw;
    height: 100vh;
}
.primeira-secao{
    background-color: red;
}

.segunda-secao{
    background-color: black;
}

.terceira-secao{
    background-color: blue;
}