p{
    color: coral;
    font-size: 24px;
    font-weight: bold;
}

.bg{
    background-color: lightgreen;
    background-image: url('img/cat.png');
}

.bg-image{
    height: 340px;
    width: 513px;
}

.bg-repeat{
    background-repeat: no-repeat;
    height: 540px;
}

.bg-size-cover{
    background-size: cover;
    height: 540;
}

.bg-fixed{
    background-attachment: fixed;
    height: 540px;
}

.bg-position{
    /* Sempre passe a informação em dois comandos ele organiza na VERTICAL e depois HORIZONTAL, quando não informa o segundo valor ele vai assumir como CENTER */
    /* background-position: bottom right;
    background-repeat: no-repeat;
     */
    height: 540px;

    /* O modo encurtado ficaria assim */
    background: #000 url('img/cat.png') no-repeat right top;
}