<<<<<<< HEAD
.pixel{
    background-color: aqua;
    width: 100px;
    height: 100px;
=======
.pixel{
    background-color: aqua;
    width: 100px;
    height: 100px;
>>>>>>> 71bf3764689bf5a24f6e7870cd88e892f4e25bbf
}