a{
    cursor: progress;
    margin: 20px;
    padding: 10px;
    border: 2px solid orangered;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

a:visited{
    color: orangered;
}

a:active{
    color: blue;
}

a:hover{
    background-color: orangered;
    color: white;
    border-radius: 5px;
    font-weight: bold;
}