body{
    background-image: url(../img/bg-repeat.jpg);
    background-size: contain;

    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Opcional: define a altura do corpo como 100% da viewport */
}

main{
    height: 402px;
    width: 800px;
    display: flex;
    /* margin: auto; */
}

section{
    margin: auto;
}

.duvida{
    color: white;
    height: 378px;
    width: 305px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.duvida h1{
    font-weight: 900;
    font-size: 20px;
    line-height: 23.44px;
    margin-bottom: 11px;
}

.duvida p{
    font-weight: 400;
    font-size: 15px;
    line-height: 17.58px;
    width: 300px;
}

.preenchido{
    border: 1px solid #3CCC87;
}

.naoPreenchido{
    border: 1px solid #F52E2E;
}

.display_none{
    display: none;
}

input{
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 300;

    height: 35px;
    width: 298px;
    margin-top: 15px;
    margin-left: 21.9px;
    margin-bottom: -5px;
    border-radius: 5px;
    border: 1px solid #000000;
}

.nome{
    /* background-color: red; */
    margin-top: 20px;
    margin-bottom: auto;
}

.email {
    /* background-color: red; */
    margin-bottom: auto;
}

.telefone{
    /* background-color: red; */
    margin-bottom: auto;
}

.mensagem{
    /* height: 100px; */
    width: 298px;
    margin-top: 15px;
    margin-left: 21.9px;
    margin-bottom: auto;
    border-radius: 5px;

    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

textarea{
    border: 1px solid #000000;
    resize: none;
}
.formulario{
    background-color: white;
    height: 378px;
    width: 340px;

    position: relative;
}

.campo-obrigatorio{
    display: none;
    margin-top: 3px;
    margin-left: 23px;
    margin-bottom: -10px;
    font-size: 9px;
    color: #F52E2E;
    /* visibility: hidden; */
}
.observacao-campo-obrigatorio{
    margin-left: 14px;
    margin-top: 3px;
}

.campo-obrigatorio.mostrar{
    display: block;
}

#btn{
    cursor: pointer;
    height: 42px;
    width: 298px;
    margin-top: 15px;
    margin-left: 20px;
    background-color: #3CCC87;
    border-color: #3CCC87;
    border-radius: 10px;

    font-weight: 700;
    font-size: 15px;
    line-height: 17.58px;
    color: white;

    font-family: "Roboto", sans-serif;
    font-size: 18px;
}

#btn:hover{
    background-color: #33b174;
}