<<<<<<< HEAD
h2{
    background-color: rgb(83, 0, 128);
    color: white;
}

p{
    color: blueviolet;
    font-size: 24px;
=======
h2{
    background-color: rgb(83, 0, 128);
    color: white;
}

p{
    color: blueviolet;
    font-size: 24px;
>>>>>>> 71bf3764689bf5a24f6e7870cd88e892f4e25bbf
}