body{
    background-color: var(--cor-background-pagina);
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagens{
    background-color: var(--cor-fundo-pinturas);
    padding: 45px 20px;
}

/* .pintura{
    display: flex;
} */

.pintura img{

}

.pintura