body{
    font-family: 'Public Sans', sans-serif;
}

.container{
    background-color: var(--cor-background-pagina);
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagens{
    display: flex;
    flex-direction: column;
    /* padding: 10%; */
    padding: 35px 20px;
    background-color: var(--cor-fundo-pinturas);
}

.pintura{
    display: inline-block;
    position:relative;
    /* padding: 45px 20px; */
    width: 335px;
    height: 431px;
    width: 100%;
    
}

.pintura img{
    gap: 20px;
}

figcaption{
    position: absolute;
    bottom: 25px;
    left: 20px;
}

.nome-pintura{
    font-size: 2rem;
    color: var(--cor-nome-pintura);
    margin-bottom: 5px;

}

.nome-autor{
    color: var(--cor-nome-autor);
    font-weight: 300;
    font-size: 1.1rem;
}