/* @media(min-width: 320px){
    
}

@media(max-width: 375px){

}

@media(min-width: 425px){

}

@media(min-width: 650px){

} */

@media(min-width: 768px){
    .container{
        
    }

    .imagens{
        flex-direction: row;

    }

    img{
        height: 97%;
        width: 97%;
    }
}

/* @media(min-width: 1024px){
    
} */

/* @media(min-width: 1280px){

}

@media(min-width: 1366px){

}

@media(min-width: 1680px){

}

@media(min-width: 1920px){

}

@media(min-width: 2580px){

} */