.container-experiencia-profissional .img-sobre-mim{
    /* background-color: blueviolet; */
    max-width: 40%;
    padding: 0 15px;
}

.container-experiencia-profissional .experiencia-prossional{
    /* background-color: turquoise; */
    padding: 0 25px;
}

.container-experiencia-profissional .experiencia-prossional h3{
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    color: var(--cor-primaria);
    text-transform: uppercase;
    text-align: center;
}

.container-experiencia-profissional .experiencia-prossional p{
    /* background-color: red; */
    font-size: 1.8rem;
    margin-bottom: 20px;
    text-align: justify;
}

@media (max-width: 980px){
    .container-experiencia-profissional .row{
        justify-content: center;
    }

    .container-experiencia-profissional .img-sobre-mim{
        max-width: 100%;
        padding: 0 var(--mobile-padding);
        margin-bottom: 50px;
    }
    .container-experiencia-profissional .informacoes-sobre-mim{
        padding: 0 var(--mobile-padding);
        text-align: center;
        max-width: 100%;
    }
}

@media (max-width: 768px){
    .container-experiencia-profissional .informacoes-sobre-mim{
        max-width: 100%;
    }
}
