.home .full-screen{
    /* background-color: tomato; */
    min-width: 86vh;
    padding: 50px 0;
    justify-content: center;
}

.home .texto-home{
    /* background-color: tomato; */
    letter-spacing: 2px;
}

.home .texto-home,
.home .img-home{
    /* background-color: tomato; */
    /* Não faz grow ou shiring e ocupada 50% do tamanho */
    flex: 0 0 35%;
    max-width: 50%;
    padding: 0 15px;
}

.home .img-home .img-box{
    /* background-color: tomato; */
    max-width: 350px;
    margin: auto;
    border-radius: 50%;
}

.home .img-home .img-box img{
    /* background-color: tomato; */
    width: 100%;
    border-radius: 50%;
    border: 20px transparent;
}

.home .texto-home p{
    /* background-color: tomato; */
    font-family: var(--fonte-secundaria);
    font-size: var(--fonte-grande);
    margin-bottom: 10px;
}

.home .texto-home h1{
    font-family: var(--fonte-secundaria);
    font-size: var(--fonte-gigante);
    font-weight: 700;
    margin-bottom: 20px;
}

.home .texto-home h2{
    font-family: var(--fonte-secundaria);
    font-size: var(--fonte-grande);
    letter-spacing: 2px;
    margin-bottom: 30px;
}

@media(max-width: 1024px){
    .home .texto-home,
    .home .img-home{
        flex: 0 0 100%;
        max-width: 50%;
        text-align: center;
        padding: var(--mobile-padding);
    }
}