table{
    color: white;
    font-weight: bold;
    box-shadow: 5px 5px 5px black;
}

.moda_cabecalho{
background-color: #BB86FC;
}

.casa_cabecalho{
    background-color: #00C4B4;
}

tbody td{
    background-color: #424250;
}
th, td{
    padding: 10px;
}
.rodape{
    background-color: black;
    text-align: end;
}