body{
    margin: 0;
}

.container{
    display: grid;
    padding: 3em;
    grid-gap: 2em;
    /* grid-template-columns: repeat(5, 200px); */
    /* grid-template-columns: repeat(4, minmax(200px, 1fr)); */
    
    /*Auto fit extende as colunas ficando 5 colunas mas aumentando o espaço deles*/
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

    /*Auto fill, extende as colunas mas deixando a parte no máximo em 200px, e deixa uma lacuna em branco quando tiver espaço disponivel.*/
    /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
}

.container p{
    padding: 2em;
    border-radius: 0.3em;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
}
