<<<<<<< HEAD
.paragrafo{
    padding: 20px;
    margin: 40px;
}

.cor1{
    background-color: #F5F5F5;
}

.cor2{
    background-color: #F0CCE2;
=======
.paragrafo1{
    background-color: burlywood;
}

.paragrafo2{
    background-color: aquamarine;
>>>>>>> 71bf3764689bf5a24f6e7870cd88e892f4e25bbf
}