<<<<<<< HEAD
span{  
    font-weight: bold;
}

thead td{
    background-color: black;
    color: white;
}

.linhas{
    border: 1px solid black;
}

td{
    border: 1px solid black;
}

.texto-direita{
    text-align: right;
    background-color: black;
    color: white;
=======
span{  
    font-weight: bold;
}

thead td{
    background-color: black;
    color: white;
}

.linhas{
    border: 1px solid black;
}

td{
    border: 1px solid black;
}

.texto-direita{
    text-align: right;
    background-color: black;
    color: white;
>>>>>>> 71bf3764689bf5a24f6e7870cd88e892f4e25bbf
}