/* @media(min-width: 320px){
    
}

@media(max-width: 375px){

}

@media(min-width: 425px){

}

@media(min-width: 650px){

} */

@media(min-width: 768px){
    .container{
        height: 100vh;        
    }

    .imagens{
        flex-direction: row;

    }

    img{
        height: 97%;
        width: 97%;
    }

    .nome-pintura{
        font-size: 1.5rem;    
    }
    
    .nome-autor{
        font-size: 1rem;
    }
}

@media(min-width: 1024px){
    .nome-pintura{
        font-size: 2rem;   
    }
    
    .nome-autor{
        font-size: 1.1rem;
    }
}

/* @media(min-width: 1280px){

} */

@media(max-width: 1366px){
    .imagens{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}

/* @media(min-width: 1680px){

} */

/* @media(min-width: 1920px){

} */

/* @media(min-width: 2580px){

} */